<article class="tw-flex tw-flex-1 tw-h-[calc(100vh-64px)] tw-w-full tw-items-center tw-justify-center tw-z-20">
    <div class="tw-flex tw-flex-1 tw-h-full tw-max-w-2xl tw-max-h-[550px] tw-mx-auto tw-drop-shadow-xl">
        <div class="
            tw-flex 
            tw-flex-1 
            tw-flex-col
            tw-w-2/4
            tw-max-w-[50%] 
            tw-gap-5
            tw-bg-gradient-to-tr
            tw-from-[#782f87] 
            tw-to-primary-color/80
            tw-rounded-l-lg
            tw-rounded-tr-lg
            tw-p-6
            tw-pt-20
            tw-relative">
            <div class="tw-absolute tw-left-0 tw-top-0 tw-flex tw-w-full tw-drop-shadow-[0_.25rem_0_black]">
                <div class="
                    tw-flex 
                    tw-gap-6 
                    tw-items-center 
                    tw-w-full 
                    tw-h-[65px]
                    tw-pb-[10px]
                    tw-bg-[#a517c7]
                    tw-rounded-t-lg 
                    tw-px-5
                    [clip-path:polygon(0_0,100%_0,100%_calc(100%-1.5rem),70%_calc(100%-1.5rem),0_100%)]
                ">
                    <div class="tw-w-7 tw-aspect-square tw-rounded-full tw-bg-[#ff56fd] tw-border-2 tw-border-white">
                    </div>
                    <div class="tw-flex tw-gap-3 tw-flex-1 tw-items-center">
                        <div class="tw-w-2 tw-aspect-square tw-rounded-full tw-bg-[#e71111]"></div>
                        <div class="tw-w-2 tw-aspect-square tw-rounded-full tw-bg-amber-300"></div>
                        <div class="tw-w-2 tw-aspect-square tw-rounded-full tw-bg-green-300"></div>
                    </div>
                </div>
            </div>
            <div class="
                tw-flex 
                tw-flex-col 
                tw-w-full 
                tw-rounded-lg 
                tw-bg-white 
                tw-h-2/3 
                tw-p-6 
                tw-pb-0
                [clip-path:polygon(0_0,100%_0,100%_100%,2rem_100%,0_calc(100%-2.75rem))]">
                <div class="
                    tw-flex 
                    tw-flex-1 
                    tw-max-h-[calc(100%-44px)] 
                    tw-items-center 
                    tw-justify-center 
                    tw-bg-primary-color/40 
                    tw-rounded-md">
                    <img class="tw-h-full tw-w-full tw-object-contain tw-p-3" src="assets/images/2.svg"
                        alt="pokemon_shiloute" [ngClass]="{
                            'tw-brightness-0': true
                        }">
                </div>
                <div class="tw-flex tw-flex-1 tw-gap-4 tw-h-11 tw-items-center tw-justify-center">
                    <div class="tw-flex tw-flex-1 tw-gap-4 tw-pl-5 tw-justify-center tw-items-center">
                        <div class="tw-w-4 tw-aspect-square tw-rounded-full tw-bg-primary-color"></div>
                        <div class="tw-w-4 tw-aspect-square tw-rounded-full tw-bg-primary-color"></div>
                    </div>
                    <div class="
                            tw-flex 
                        tw-w-5
                        tw-h-4
                        tw-gap-[.125rem]
                        tw-flex-col 
                        [&>span]:tw-flex 
                        [&>span]:tw-flex-1 
                        [&>span]:tw-bg-dark-blue
                        [&>span]:tw-rounded-full">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="tw-flex tw-w-full tw-items-center tw-gap-8">
                <button class="
                    tw-flex
                    tw-items-center
                    tw-justify-center
                    tw-w-12 
                    tw-aspect-square 
                    tw-rounded-full 
                    tw-bg-dark-blue 
                    tw-drop-shadow-[2px_2px_0_#300F16]
                    tw-transition-all
                    tw-duration-200
                    hover:tw-bg-slate-700
                    active:tw-scale-95">
                    <img class="tw-p-[14px]" src="assets/images/reset.svg" alt="reset">
                </button>
                <div class="
                    tw-flex 
                    tw-gap-5
                    [&>span]:tw-flex 
                    [&>span]:tw-w-8
                    [&>span]:tw-h-2
                    [&>span]:tw-bg-dark-blue 
                    [&>span]:tw-rounded-full">
                    <span class="!tw-bg-white tw-drop-shadow-[2px_2px_0_#b2b2b2]"></span>
                    <span class="tw-drop-shadow-[2px_2px_0_#300F16]"></span>
                </div>
            </div>
            <div class="tw-flex tw-w-full tw-justify-between">
                <div class="tw-flex tw-items-center tw-justify-center tw-gap-2">
                    <img class="tw-w-7 tw-aspect-square tw-mr-2" src="assets/images/pokeball.svg" alt="pokeball">
                    <h4 class="tw-text-white tw-font-roboto-slab tw-font-bold tw-text-xl tw-tracking-wider">Score:</h4>
                    <span class="tw-text-[#f4c1ff] tw-font-pocket-monk tw-text-xl tw-tracking-wider tw-pt-1">18</span>
                </div>
                <div class="
                    tw-grid 
                    tw-place-content-center 
                    tw-grid-cols-[repeat(3,var(--buttonSize))]
                    [grid-template-areas:'._up_.'_'left_center_right'_'._down_.']
                    tw-self-end 
                    tw-h-[72px] 
                    tw-aspect-square
                    tw-drop-shadow-[2px_2px_0_black]
                    [&>button]:tw-w-[var(--buttonSize)]
                    [&>button]:tw-aspect-square
                    [&>button]:tw-bg-dark-blue
                    [&>button]:tw-relative
                    [&>button]:tw-transition-all
                    [&>button]:tw-duration-200
                    after:[grid-area:center]
                    after:tw-w-[var(--buttonSize)]
                    after:tw-aspect-square
                    after:tw-bg-dark-blue" [ngStyle]="{'--buttonSize': '1.5rem'}">
                    <button class="
                        [grid-area:right] 
                        hover:tw-bg-slate-700 
                        active:tw-scale-95 
                        tw-rounded-r-sm
                        after:tw-absolute
                        after:tw-w-0
                        after:tw-h-0
                        after:tw-inset-0
                        after:tw-m-auto
                        after:tw-border-t-4
                        after:tw-border-t-transparent
                        after:tw-border-l-[6px]
                        after:tw-border-l-white
                        after:tw-border-b-4
                        after:tw-border-b-transparent
                    ">
                    </button>
                    <button class="
                        [grid-area:left] 
                        hover:tw-bg-slate-700 
                        active:tw-scale-95 
                        tw-rounded-l-sm
                        after:tw-absolute
                        after:tw-w-0
                        after:tw-h-0
                        after:tw-inset-0
                        after:tw-m-auto
                        after:tw-border-t-4
                        after:tw-border-t-transparent
                        after:tw-border-r-[6px]
                        after:tw-border-r-white
                        after:tw-border-b-4
                        after:tw-border-b-transparent
                    ">
                    </button>
                    <button class="
                        [grid-area:up] 
                        hover:tw-bg-slate-700 
                        active:tw-scale-95 
                        tw-rounded-t-sm
                        after:tw-absolute
                        after:tw-w-0
                        after:tw-h-0
                        after:tw-inset-0
                        after:tw-m-auto
                        after:tw-border-b-[6px]
                        after:tw-border-b-white
                        after:tw-border-l-4
                        after:tw-border-l-transparent
                        after:tw-border-r-4
                        after:tw-border-r-transparent
                    ">
                    </button>
                    <button class="
                        [grid-area:down] 
                        hover:tw-bg-slate-700 
                        active:tw-scale-95 
                        tw-rounded-b-sm
                        after:tw-absolute
                        after:tw-w-0
                        after:tw-h-0
                        after:tw-inset-0
                        after:tw-m-auto
                        after:tw-border-t-[6px]
                        after:tw-border-t-white
                        after:tw-border-l-4
                        after:tw-border-l-transparent
                        after:tw-border-r-4
                        after:tw-border-r-transparent
                    ">
                    </button>
                </div>
            </div>
        </div>
        <div class="
            tw-flex 
            tw-flex-1 
            tw-h-[calc(100%+.425rem)]
            tw-self-end
            tw-p-6
            tw-w-2/4 
            tw-bg-gradient-to-tr
            tw-from-[#782f87] 
            tw-to-primary-color/80
            tw-rounded-br-lg 
            tw-border-l-[3px] 
            tw-border-dark-blue/50
            [clip-path:polygon(0_3.25rem,30%_3.25rem,100%_4.75rem,100%_100%,0_100%)]">
            <div class="
                tw-flex 
                    tw-flex-1 
                    tw-flex-col 
                    tw-p-5 
                    tw-py-8
                    tw-items-center 
                    tw-rounded-lg 
                    tw-bg-dark-blue 
                    tw-mt-20 
                    tw-gap-3">
                <h3 class="tw-font-pocket-monk tw-text-2xl tw-text-white tw-tracking-wider tw-mb-4">
                    Who's that pokémon?
                </h3>
                <button class="
                    tw-w-full 
                    tw-py-3
                    tw-bg-emerald-500
                    tw-text-white
                    tw-rounded-lg
                    tw-font-roboto-slab
                    tw-transition-all
                    tw-duration-200
                    active:tw-scale-95
                    hover:tw-bg-primary-color
                    tw-text-sm
                    tw-font-medium
                    tw-tracking-wide">
                    Porygon
                    <small class="tw-font-light">Correct!</small>
                </button>
                <button class="
                    tw-w-full 
                    tw-py-3 
                    tw-bg-primary-color/50
                    tw-text-white
                    tw-rounded-lg
                    tw-font-roboto-slab
                    tw-transition-all
                    tw-duration-200
                    active:tw-scale-95
                    hover:tw-bg-primary-color
                    tw-text-sm
                    tw-font-medium
                    tw-tracking-wide">
                    Muk
                </button>
                <button class="
                    tw-w-full 
                    tw-py-3 
                    tw-bg-rose-500
                    tw-text-white
                    tw-rounded-lg
                    tw-font-roboto-slab
                    tw-transition-all
                    tw-duration-200
                    active:tw-scale-95
                    hover:tw-bg-primary-color
                    tw-text-sm
                    tw-font-medium
                    tw-tracking-wide">
                    Jigglypuff
                    <small class="tw-font-light">Wrong...</small>
                </button>
                <button class="
                    tw-w-full 
                    tw-py-3 
                    tw-bg-primary-color/50
                    tw-text-white
                    tw-rounded-lg
                    tw-font-roboto-slab
                    tw-transition-all
                    tw-duration-200
                    active:tw-scale-95
                    hover:tw-bg-primary-color
                    tw-text-sm
                    tw-font-medium
                    tw-tracking-wide">
                    Paras
                </button>
                <button class="
                    tw-w-full 
                    tw-py-3 
                    tw-bg-primary-color/50
                    tw-text-white
                    tw-rounded-lg
                    tw-font-roboto-slab
                    tw-transition-all
                    tw-duration-200
                    active:tw-scale-95
                    hover:tw-bg-primary-color
                    tw-text-sm
                    tw-font-medium
                    tw-tracking-wide">
                    Pikachu
                </button>
            </div>
        </div>
    </div>
</article>