<article class="tw-flex tw-flex-1 tw-h-[calc(100vh-64px)] tw-w-full tw-items-center tw-justify-center tw-z-20">
    <div class="tw-flex tw-flex-1 tw-h-full tw-flex-col tw-max-w-2xl tw-max-h-[500px] tw-mx-auto">
        <div class="tw-flex tw-gap-6 tw-items-center tw-w-2/4 tw-h-14 tw-bg-rose-600 tw-rounded-t-lg tw-px-5">
            <div class="tw-w-6 tw-aspect-square tw-rounded-full tw-bg-sky-400 tw-border-2 tw-border-white"></div>
            <div class="tw-flex tw-gap-3 tw-flex-1 tw-items-center">
                <div class="tw-w-3 tw-aspect-square tw-rounded-full tw-bg-rose-400"></div>
                <div class="tw-w-3 tw-aspect-square tw-rounded-full tw-bg-amber-300"></div>
                <div class="tw-w-3 tw-aspect-square tw-rounded-full tw-bg-green-300"></div>
            </div>
        </div>
        <div class="tw-flex tw-flex-1">
            <div class="tw-flex tw-flex-1 tw-bg-rose-600 tw-rounded-bl-lg tw-p-6 tw-border-r-[3px] tw-border-rose-700">
                <div class="tw-flex tw-flex-col tw-w-full tw-rounded-lg tw-bg-white tw-h-2/3 tw-p-6 tw-pb-11">
                    <div class="tw-flex tw-flex-1 tw-items-center tw-justify-center tw-bg-sky-300 tw-rounded-lg">
                        <img class="tw-h-full tw-w-full tw-object-contain tw-p-3" src="assets/images/2.svg"
                            alt="pokemon_shiloute" [ngClass]="{
                            'tw-brightness-0': true
                        }">
                    </div>
                    <div class="tw-flex tw-flex-1 tw-items-center tw-justify-center">
                        <div class="tw-w-4 tw-aspect-square tw-rounded-full tw-bg-rose-600"></div>
                        <div class="tw-w-4 tw-aspect-square tw-rounded-full tw-bg-rose-600"></div>
                    </div>
                </div>
            </div>
            <div class="tw-flex tw-flex-1 tw-bg-rose-600 tw-rounded-br-lg">

            </div>
        </div>
    </div>
</article>