<section class="tw-overflow-hidden">
  <app-navbar />
  <app-container class="tw-relative tw-block tw-mt-16">
    <app-hero class="tw-w-full tw-z-20" />
    <div class="
      tw-absolute
      tw-w-[600px] 
      tw-rounded-full 
      tw-aspect-square 
      -tw-left-[150px] 
      -tw-top-[400px] 
      tw-bg-[#5f37bc] 
      tw-blur-[150px]"></div>
    <div class="
      tw-absolute
      tw-w-[600px] 
      tw-rounded-full 
      tw-aspect-square 
      -tw-right-[150px] 
      -tw-bottom-[400px] 
      tw-bg-[#6e2c97] 
      tw-blur-[150px]"></div>
  </app-container>
</section>