<div class="tw-flex tw-flex-col tw-gap-3 tw-text-white tw-h-full tw-justify-center tw-max-w-md">
    <h1 class="tw-font-pocket-monk tw-text-6xl">
        Catch 'Em All!
    </h1>
    <p class="tw-text-3xl tw-font-roboto-slab tw-font-normal tw-leading-normal">
        Can you identify the hidden Pokémon in the shadows?
    </p>
    <span class="tw-font-roboto-slab tw-text-white/80 tw-tracking-wide">
        Join the adventure and complete your Pokédex!
    </span>
    <div class="tw-flex tw-gap-3 tw-my-4">
        <button class="
            tw-py-3 
            tw-px-6 
            tw-rounded-lg 
            tw-bg-gradient-to-t
            tw-from-[#782f87]
            tw-to-primary-color
            tw-text-white 
            tw-uppercase
            tw-font-bold
            tw-font-roboto-slab
            tw-min-w-[120px]
            tw-transition-all
            tw-duration-200
            hover:tw-from-[#5e256a]
            hover:tw-to-[#ad12cd]
            active:tw-scale-95">
            Play
        </button>
        <button class="
            tw-py-3 
            tw-px-6 
            tw-rounded-lg 
            tw-bg-white
            tw-text-dark-blue
            tw-uppercase
            tw-font-bold
            tw-font-roboto-slab
            tw-min-w-[120px]
            tw-transition-all
            tw-duration-200
            hover:tw-bg-opacity-80
            active:tw-scale-95" routerLink="/pokedex">
            Pokédex
        </button>
    </div>
    <div class="tw-flex tw-items-center tw-text-xs tw-font-roboto-slab tw-tracking-widest">
        <span>Made with</span>
        <img class="tw-h-[14px] tw-w-auto tw-mx-2" src="../../../assets/images/poke_heart.png" alt="poke_heart"
            width="60" height="60">
        <p>
            by
            <button class="flex tw-items-center tw-justify-center tw-transition-[scale] tw-duration-200 active:tw-scale-95">
                <span class="tw-text-primary-color">Armando Lara</span>
            </button>
        </p>
    </div>
</div>