@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply tw-scroll-smooth tw-bg-dark-blue tw-overflow-x-hidden;
}

@font-face {
    font-family: "Pocket Monk";
    src: url("../src/assets/fonts/Pocket-Monk.otf");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("./assets/fonts/RobotoSlab.ttf");
}